@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root
{
    --border-radius: 8px;
    --color-white: #FFFFFF;
    --color-light: #F4F4F4;
    --color-gray: #888888;
    --color-black: #000000;
}

body {
    margin: 0;
    background-color: var(--color-light);
}

.header {
    min-height: 263px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
}

.a-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.logo {
    display: block;
    width: 520px;
    height: auto;
}

.div-logo {
    width: 100%;
    max-width: 760px;

    margin-top: 12px;
}

.p-logo {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;

    color: var(--color-black)
}

.div-home-loncaro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 480px;
    padding: 0 250px 0 80px;
    background-image: url(./images/div-background-loncaro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    overflow: hidden;
}

.div-home-loncaro > div:first-child {
    flex: 0 0 45%;
}

.loncaro-img {
    flex: 0 0 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loncaro-img img {
    width: 900px;
    max-width: none;
}

.loncaro-p-hidden {
    margin: 0 0 5px;
    letter-spacing: 0%;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-gray);
    line-height: 24px;
}

.loncaro-h1 {
    margin: 0 0 10px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 42px;
}

.loncaro-p {
    max-width: 450px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.food-beverage-spotlight {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0%;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.caulikids-container {
    background-color: var(--color-white);
}

.playfair-h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.montserrat-p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
    place-items: center;
}

.home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.home-container-caulikids {
    background-color: var(--color-white);
    max-width: 670px;
    border-radius: var(--border-radius);    
    line-height: 80px;
    margin-left: auto;
}

.home-content {
    display: block;
    padding-bottom: 40px;
    text-align: center;
}

.home-container-amayu {
    background-color: var(--color-white);
    border-radius: var(--border-radius);    
    max-width: 670px;
    line-height: 80px;
}
